# Dependências do Node (nós instalamos com npm install, não precisamos subir)
node_modules/

# Variáveis de ambiente e senhas (SEGURANÇA!)
.env

# Arquivos de sistema operacional (lixo)
.DS_Store
Thumbs.db

# Logs de erro
npm-debug.log